*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.header{
    width: 100vw;
    height: 100px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgb(245, 245, 242);
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(198, 148, 148);
    align-items: center;
}
.logo{
    width: 80px;
    height: 60px;
}
.username{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    background-color: #ebf5ff;
    display: flex;
    color: #0088ff;
    justify-content: center;
    align-items: center;
    border: 2px solid #0088ff;
}
.hero{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
.left{
    flex-basis: 50%;
    height: 100vh;
    display: flex;
    padding: 50px;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    
}
.highlight{
    color: #0088ff;
}
.book{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    align-self: flex-start;
    border: none;
    margin-top: 18px;
    background-color: #0088ff;
    color: white;
    font-size: 14px;
}
@media (max-width:740px) {
    .hero{
        flex-direction: column;
        height: 100vh;
        margin-top: 200px;
    
    }
    .left{
        margin-left: 0;
    }
    ul{
        gap:10px;
        font-size: 10px;
        text-align: center;
    }
    
}
.right{
    flex-basis: 50%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}
.home_img{
    object-fit: contain;
    max-width: 400px;
}